head {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
body {
  background: #FDF5E6;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
.title{
  color: white;
  background-color: #00BFFF;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-right: 8px;
}

.subheading{
  font-size: 15px;
  color: black;
  margin-bottom: 0px;
  background-color: #00BFFF;
  border: 1px solid black;
  text-transform: uppercase;
  text-align: center;
}

.submenu{
  color: white;
  background-color: #00BFFF;
  text-transform: uppercase;	
  margin-top: 0px;
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 0px;
  text-decoration: none;
}

.menuitem:hover{
	background-color: #7B68EE;
	border: 1px solid #7B68EE;
	color: white;
}

